// $color-primary: #ff5858;
// $color-secondary: #f09819;

// $color-primary: #16a085;
// $color-secondary: #d1ad1c;

$color-primary: #13547a;
$color-secondary: #3ea094;

$color-tertiary: #434547;
$color-quaternary: #6e7072;

body {
font-family: 'Muli', sans-serif;
// font-family: 'Oxygen', sans-serif;
// font-family: 'DM Sans', sans-serif;

  background: $color-primary;
  background: -webkit-linear-gradient(to right, $color-primary, $color-secondary);
  background: linear-gradient(to right, $color-primary, $color-secondary);

  ::selection {
    background-color: $color-secondary;
    color: #FFFFFF;
  }
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
}

.container {
  height: 60% !important;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(215, 215, 215, .4);
}

.album-art {
  background-color: black;
  background: black;
  background-image: black;
  width: 120px;
  height: 120px;
}

.album-art:hover {
  opacity: 60%;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: $color-primary;
  background-image: linear-gradient(to left, $color-primary, $color-secondary);
  background: -webkit-linear-gradient(to right, $color-primary, $color-secondary);
  background: linear-gradient(to right, $color-primary, $color-secondary);
}

.scrollable {
  height: 900px;
  overflow-y: scroll;
}