body {
  font-family: Poppins;
  font-size: 18px;
  background: #ee0979;
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
  background: linear-gradient(to right, #ff6a00, #ee0979);
}

.video-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay{
  position: absolute;
}