@import './App.scss';

.color-primary {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

.color-tertiary {
  color: $color-tertiary;
}

.button-range{
  color: $color-tertiary;
  background: none;
  border: none;
}

.button-range:hover {
  text-decoration: none;
  color: $color-secondary;
}

.button-range:focus {
	outline: none;
}

.button-range-active {
  background-image: linear-gradient(to right, $color-primary, $color-secondary);
  color: #FFF;
  border-radius: 100px;
  border: none;
  padding: 8px 12px;
  box-shadow: 0px 4px 10px 0px rgba(14,0,21,0.15);
  font-weight: 900;
  width: 200px;
}

.button-range-active:focus {
  outline: none;
}

.button-back {
  @media (max-width: 725px) {
    text-align: center!important;
  }
  color: #FFFFFF;
  background: none;
  border: none;
}

.button-range:focus {
	outline: none;
}

.button-back:hover {
  text-decoration: underline;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.button-back:focus {
	outline: none;
}

h1.title {
  @media (max-width: 725px) {
    font-size: 30px;
  }
}

.favourite-track {
  @media (max-width: 725px) {
    font-size: 24px;
  }
}

.recently-played {
  @media (max-width: 725px) {
    font-size: 22px;
  }
}

.playlist {
  @media (max-width: 725px) {
    font-size: 22px;
  }
}

.current-playing {
  a {
    color: #FFFFFF!important;
  }
  @media (max-width: 725px) {
    font-size: 14px;
    margin-right: 80px
  }
}