@import './App.scss';

.track {
  // height: 17rem;
  vertical-align: middle;
}

.album-art {
  width: 130px;
  height: 130px;
}

.album-art:hover {
  opacity: 80%;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}