@import './App.scss';

.track {
  vertical-align: middle;
}

.album-art {
  width: 130px;
  height: 130px;
}

.album-art:hover {
-webkit-filter: opacity(60%);
filter: opacity(60%);
-moz-transition: all 0.1s ease-in;
-o-transition: all 0.1s ease-in;
-webkit-transition: all 0.1s ease-in;
transition: all 0.1s ease-in;
}